body {
  background:url("../img/dawn.png")no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  width: 90%;
}

.kitten-image {
  text-align: center;
  position:absolute;
  bottom:5px;
  left: 20%;
  right: 20%;
}
